// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
//     'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #424242;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #009688;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
//   // Путь к изображениям из SASS-файла всегда такой, как из папки css
//   background-image: url('../images/demo.jpg');
//   background-size: cover;
//   background-position: center;
// }

body.modal-open {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  // border-radius: 4px;
}

.uppercase-text {
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.25);
  opacity: 1;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 250ms var(--timing-function),
  visibility 250ms var(--timing-function);

  @media (max-width: 767px) {
    padding: 20px;
  }

  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 48px 20px 40px;

  transform: scale(1);

  background-color: #FFFFFF;
  
  transition: transform 250ms var(--timing-function);

  @media screen and (min-width: 768px) {
    padding: 40px 72px 40px 36px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 704px;
    height: 552px;
  }

  @media screen and (min-width: 1024px) {
    padding: 40px 16px;
    width: 814px;
    height: 558px;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(0.9);

  @media (min-width: 768px) {
    transform: translate(-50%, -50%);} }

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

 background-color: inherit;
 background-image: url('../images/modal-close.svg');
 background-repeat: no-repeat;
  // color: ;

  // background: ;
  
  // transition: color 250ms var(--timing-function);

  // &:focus,
  // &:hover {
  //   color: ;
  // }
}

// .modal-close-icon {
//   fill: currentColor;
// }

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
  flex-direction: row;
  align-items: flex-start;
}
}
.modal-img-card {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  border-radius: 5px;
  min-width: 240px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px){
   min-width: 264px;
   margin-bottom: 0;
   margin-right: 68px;
  // height: 373px;
}
       @media screen and (min-width: 1024px) {
          min-width: 375px;
          height: 478px;
          margin-right: 16px;
        }
  
      }



.modal-info{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: #000000;
  
}
.modal__film-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
    line-height: 1.15;
    @media screen and (min-width: 1024px) {
        font-size: 30px;
        line-height: 1.17;
      }
}


//|||||||||||||||||||||||SHORT-INFO||||||||||||||||||||||||||||||
.modal-short-info {
  display: flex;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.33;
}
.modal-short-info__name-list{
  margin-right: 39px;
  @media screen and (min-width: 1024px) {
      margin-right: 83px;
    }
}
.modal-short-info__name-item,.modal-short-info__description-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.modal-short-info__name-item {
  color: #8C8C8C;
}

.modal-short-info__description-item{

&:first-child {
  color: #8C8C8C;
}
&:nth-child(2n) {
  line-height: 0.86;
}
}

.modal-vote {
 display: inline-flex;
 align-items: center;
 justify-content: center;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  line-height: 0.86;
}
.modal-vote--orange {

  background-color: #FF6B01;
  color: #FFFFFF;
  
}

.modal-vote--grey {
  background-color: #F7F7F7;
  color: #000000;
}



//|||||||||||||||||||||||||||||||||||||||||||ABOUT||||||||||||||||||||||||||
.modal__about-title{
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.modal-about-text-wrapper {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
      min-width: 264px;
      height: 236px;
      overflow-y: scroll;
    }
    @media screen and (min-width: 1024px) {

          min-width: 391px;
          height: 160px;
          
        }
}

.modal__about-text {
  font-size: 12px;
  line-height: 1.67;
}



////////////////////////КНОПКИ////////////////////////////
.modal-buttons-add-list {
  display: flex;

}
.modal-buttons-add-item{
  &:not(:last-child) {
    margin-right: 10px;
    @media screen and (min-width: 1024px) {
        padding-left: 8px;
      }
  }
}
.modal-btn-add{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  width: 110px;
 height: 44px;
  
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
    @media screen and (min-width: 768px) {
    width: 125px;
      }
            @media screen and (min-width: 1024px) {
             width: 136px;
            }
}

.modal-btn-add--watched{
  background: #FF6B01;
  color: #FFFFFF;
}

.modal-btn-add--queue {
  border: 1px solid #000000;
  background-color: inherit;
  
}